/* Common CSS*/

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: #f9fbff;
}

.page_content {
  padding: 1.2rem;
}

nav {
  padding: 0px;
  position: sticky;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 10px;
}

nav .nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  gap: 46px;
}

nav .line-horizontal {
  height: 3px;
  width: 100%;
  background-color: black;
}

nav li a {
  padding: 8px;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color 150ms ease-out;
}

nav li a:hover {
  color: grey;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  min-height: 50vh;
  position: sticky;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-top: 24px;
  color: white;
  height: 100%;
  width: 5%;
}

#nav_big_text {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  color: #e2e7e9;
  opacity: 0;
  font-size: 11vw;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  transform: translateX(10%);
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  z-index: -1;
}

#big_name {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  color: black;
  opacity: 0;
  font-size: 11vw;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  transform: translateX(10%);
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  z-index: -1;
}

#nav_big_text.big_text_active {
  transform: translateX(0%);
  opacity: 1;
}

#big_name.big_name_active {
  transform: translateX(0%);
  opacity: 1;
}

.page-content-container {
  width: 55vw;
  height: 70vh;
  background-color: transparent;
  overflow-y: scroll;
  float: right;
  padding: 20px;
  border-radius: 15px;
}

/* Index(HOME) CSS*/

.index_body {
  overflow: hidden;
}

/* ME CSS*/

.me_body {
  overflow: hidden;
}

.about_me_heading {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  position: sticky;
}

.about_me {
  padding-left: 0px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

/* DEVELOPMENT CSS*/

.development_body {
  overflow: hidden;
}

/* DESIGN CSS*/

.design_body {
  overflow: hidden;
}

/* CONNECT CSS*/

.connect_body {
  overflow: hidden;
}

/* Custom_scrollbar */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Different responsive breakpoints */

@media screen and (max-width:1200px) {
  .page-content-container {
    width: 50vw;
    height: 80vh;
    padding: 20px;
  }
}

@media screen and (max-width:992px) {
  .page-content-container {
    width: 60vw;
    padding: 20px;
    height: 80vh;
  }
}

@media screen and (max-width:768px) {
  .hero {
    display: none;
  }
  .page-content-container {
    width: 100%;
    padding: 30px;
    height: 80vh;
  }
}

@media screen and (max-width:576px) {
  .hero {
    display: none;
  }
  .page-content-container {
    width: 100%;
    padding: 30px;
    height: 80vh;
  }
}